.card {
	background-color: var(--mantine-color-sec-light);
	border: 4px dashed light-dark(var(--mantine-color-sec-light), var(--mantine-color-gray-light));
	border-radius: var(--mantine-radius-md);
	padding: var(--mantine-spacing-xl);
	overflow: hidden;
	height: 100%;
	transition: 0.25s all ease;

	&:hover {
		.price {
			color: var(--mantine-color-pri-6);
		}

		.tag {
			background-color: var(--mantine-color-white);
			color: var(--mantine-color-pri-6);
		}
	}
}

.price {
	color: light-dark(var(--mantine-color-sec-6), var(--mantine-color-white));
	transition: 0.25s all ease;
}

.tag {
	background-color: var(--mantine-color-pri-6);
	transition: 0.25s all ease;

	transform: rotate(45deg);
}
