.card {
	background-color: var(--mantine-color-sec-light);
	border-radius: var(--mantine-radius-md);
	padding: var(--mantine-spacing-xl);
	position: relative;
	transition: 0.25s all ease;

	&:hover {
		background-color: transparent;
		cursor: pointer;

		.icon {
			background-color: light-dark(var(--mantine-color-pri-light), var(--mantine-color-gray-light));
			opacity: 1;
		}
	}
}

.icon {
	background-color: light-dark(transparent);
	color: light-dark(var(--mantine-color-pri-6), inherit);
	opacity: 0.1;
	transition: 0.25s all ease;

	position: absolute;
	bottom: 8px;
	right: 8px;
	min-height: 96px;
	min-width: 96px;
}

.title {
	color: light-dark(var(--mantine-color-sec-6), var(--mantine-color-pri-6));
	transition: 0.25s all ease;
}
