.card {
	border-radius: var(--mantine-radius-md);
	background-color: var(--mantine-color-sec-light);
	padding: var(--mantine-spacing-xs);
	position: relative;
	height: 100%;
	transition: 0.25s all ease;

	&:hover {
		background-color: light-dark(var(--mantine-color-pri-light), var(--mantine-color-gray-light));
		cursor: pointer;

		.icon {
			color: light-dark(var(--mantine-color-sec-6), inherit);
			opacity: 1;
			border-radius: var(--mantine-radius-xl);
			bottom: 8px;
			right: 8px;
		}

		.title {
			color: var(--mantine-color-pri-6);
		}
	}
}

.icon {
	background-color: light-dark(var(--mantine-color-pri-light), var(--mantine-color-pri-6));
	color: light-dark(var(--mantine-color-pri-6), var(--mantine-color-sec-6));
	position: absolute;
	opacity: 0.25;
	border-radius: 99px;
	border-bottom-right-radius: var(--mantine-radius-md);
	bottom: 0;
	right: 0;
	transition: 0.25s all ease;
}

.title {
	color: light-dark(var(--mantine-color-sec-6), var(--mantine-color-pri-6));
	transition: 0.25s all ease;
}
