.card {
	background-color: var(--mantine-color-sec-light);
	border-radius: var(--mantine-radius-md);
	padding: var(--mantine-spacing-xl);
	position: relative;
	transition: 0.25s all ease;

	&:hover {
		background-color: transparent;
		cursor: pointer;

		.title {
			color: light-dark(var(--mantine-color-pri-6), inherit);
		}

		.icon {
			background-color: light-dark(var(--mantine-color-pri-light), var(--mantine-color-sec-6));
			opacity: 1;
		}
	}
}

.icon {
	background-color: light-dark(transparent, var(--mantine-color-gray-light));
	color: light-dark(var(--mantine-color-pri-6), inherit);
	opacity: 0.1;
	transition: 0.25s all ease;

	position: absolute;
	top: 8px;
	right: 8px;
}

.title {
	color: light-dark(var(--mantine-color-sec-6), var(--mantine-color-pri-6));
	transition: 0.25s all ease;
}

.link {
	color: light-dark(var(--mantine-color-sec-6), var(--mantine-color-pri-6));
	text-decoration: none;

	&:hover {
		color: var(--mantine-color-pri-6);

		.arrow {
			opacity: 1;
		}

		.span {
			left: -8px;
		}
	}
}

.span {
	position: relative;
	font-weight: 500;
	left: 16px;
	transition: 0.25s all ease;
}

.arrow {
	margin-top: 4px;
	opacity: 0;
	transition: 0.25s all ease;
}
