.card {
	transition: 0.25s all ease;
	height: 100%;
	background-color: light-dark(var(--mantine-color-sec-light), var(--mantine-color-gray-light));
	color: light-dark(var(--mantine-color-sec-6), inherit);
	padding: var(--mantine-spacing-xl);
	border-radius: var(--mantine-radius-md);
	box-shadow: var(--mantine-shadow-xs);
	text-align: center;

	&:hover {
		box-shadow: var(--mantine-shadow-sm);

		.icon {
		}
	}
}

.icon {
	transition: 0.25s all ease;
	border-radius: 99px;
	background-color: light-dark(var(--mantine-color-pri-light), var(--mantine-color-sec-6));
	color: light-dark(var(--mantine-color-pri-6), var(--mantine-color-pri-6));
}

.title {
	font-size: var(--mantine-font-size-md);
	text-transform: uppercase;
}

.link {
	transition: 0.25s all ease;
	font-size: var(--mantine-font-size-sm);
	font-weight: 500;
	color: light-dark(var(--mantine-color-sec-6), inherit);

	&:hover {
		text-decoration: none;
		color: light-dark(var(--mantine-color-pri-6), var(--mantine-color-pri-6));
	}
}
