.card {
	border: 1px solid light-dark(var(--mantine-color-gray-3), transparent);
	border-radius: var(--mantine-radius-md);
	overflow: hidden;
	padding-bottom: var(--mantine-spacing-md);
	background-color: var(--mantine-color-white);
	height: 100%;
	position: relative;

	&:hover {
		.name {
			opacity: 1;
		}
	}
}

.img {
}

.name {
	opacity: 0;
	transition: 0.25s all ease;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	padding-bottom: var(--mantine-spacing-xs);
	color: light-dark(var(--mantine-color-gray-6));
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	font-size: var(--mantine-font-size-xs);
}
