.card {
	background-color: light-dark(var(--mantine-color-pri-light), var(--mantine-color-sec-light));
	border: 4px dashed light-dark(var(--mantine-color-pri-6), var(--mantine-color-gray-light));
	border-radius: var(--mantine-radius-md);
	padding: var(--mantine-spacing-xl);
	overflow: hidden;
	height: 100%;
	transition: 0.25s all ease;

	&:hover {
		.price {
			color: light-dark(var(--mantine-color-pri-6), var(--mantine-color-gray-3));
		}

		.tag {
			color: var(--mantine-color-pri-6);
			background-color: var(--mantine-color-white);
		}
	}
}

.price {
	color: light-dark(var(--mantine-color-sec-6), var(--mantine-color-pri-6));
	transition: 0.25s all ease;
}
