html {
	scroll-behavior: smooth;
}

body {
	color: light-dark(var(--mantine-color-dark-6), var(--mantine-color-gray-3));
	background-color: light-dark(var(--mantine-color-white), var(--mantine-color-sec-8));
}
